
PorraGirona/App.xaml
PorraGirona/.vs/PorraGirona/v17/.suo
PorraGirona/.vs/PorraGirona/FileContentIndex/40ec71d0-4100-40ef-89fa-c3708a2bf0e9.vsidx
PorraGirona/.vs/PorraGirona/FileContentIndex/read.lock
PorraGirona/App.xaml.cs
PorraGirona/AssemblyInfo.cs
PorraGirona/PorraGirona.sln
PorraGirona/PorraGirona.csproj.user
PorraGirona/PorraGirona.csproj
PorraGirona/obj/project.nuget.cache
PorraGirona/obj/project.assets.json
PorraGirona/obj/PorraGirona.csproj.nuget.g.targets
PorraGirona/obj/PorraGirona.csproj.nuget.g.props
PorraGirona/obj/PorraGirona.csproj.nuget.dgspec.json
PorraGirona/obj/Debug/net6.0-windows/PorraGirona_MarkupCompile.i.cache
PorraGirona/obj/Debug/net6.0-windows/PorraGirona.GeneratedMSBuildEditorConfig.editorconfig
PorraGirona/obj/Debug/net6.0-windows/PorraGirona.designer.runtimeconfig.json
PorraGirona/obj/Debug/net6.0-windows/PorraGirona.designer.deps.json
PorraGirona/obj/Debug/net6.0-windows/PorraGirona.csproj.AssemblyReference.cache
PorraGirona/obj/Debug/net6.0-windows/PorraGirona.assets.cache
PorraGirona/obj/Debug/net6.0-windows/PorraGirona.AssemblyInfoInputs.cache
PorraGirona/obj/Debug/net6.0-windows/PorraGirona.AssemblyInfo.cs
PorraGirona/obj/Debug/net6.0-windows/MainWindow.g.i.cs
PorraGirona/obj/Debug/net6.0-windows/App.g.i.cs
PorraGirona/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
